name: Scrape Jadwal Daftar Binus Online Learning
on:
  schedule:
    # Run at 23:59 every day
    - cron: '59 23 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup node
      uses: actions/setup-node@v1
      with:
        node-version: '>=12.14.1'
    - name: Install dependecies
      run: npm ci
    - name: Store new schedule into raw file and send newsletter
      run: npm run schedule:run
      env:
        MG_DOMAIN: ${{ secrets.MG_DOMAIN }}
        MG_SENDER_MAIL_API_KEY: ${{ secrets.MG_SENDER_MAIL_API_KEY }}
    - name: Commit files
      run: |
        git config --local user.email ${{ secrets.MY_EMAIL }}
        git config --local user.name "Satya Kresna on Github Actions"
        git add .
        git commit -m "chore: update scrape data" -a
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: ${{ github.ref }}
    - name: Build site
      run: npm run build
    - name: Deploy to production
      uses: amondnet/vercel-action@v19
      id: vercel-action-production
      with:
        vercel-token: ${{ secrets.VERCEL_TOKEN }}
        github-token: ${{ secrets.GITHUB_TOKEN }}
        vercel-org-id: ${{ secrets.ORG_ID }}
        vercel-project-id: ${{ secrets.PROJECT_ID }}
        vercel-args: '--prod'